<a href="https://colab.research.google.com/github/pranitha-jasp/My-Research/blob/master/Python_Refresher_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Refresher-2

**Agenda**

1. Pattern Problems
2. Built-in Data Structures in Python
  * Lists
  * Strings
  * Tuples
  * Sets
  * Dictionaries

##Pattern Problems:(Using Nested Loops)

###1. Printing Stars in a single row:

In [ ]:
for j in range(5):
    print("*", end='')

*****

###2. Printing a pattern of stars with 3 rows and 5 columns

In [ ]:
for j in range(5):
    print("*", end='')

print()

for j in range(5):
    print("*", end='')

print()

for j in range(5):
    print("*", end='')

*****
*****
*****

###Question 1: Write a program to print a N x M matrix of  *

Example: if N=4, M=2
Pattern would be:

**

**

**

**

In [ ]:
N = int(input())
M = int(input())

for i in range(N):
    for j in range(M):
        print('*', end='')
    print()

5
6
******
******
******
******
******

###3. Stair Pattern

In [ ]:
N = 5

for i in range(1, N+1):
    for j in range(i):
        print("*", end='')
    print()

*
**
***
****
*****

###4. Reverse Stair Pattern

In [ ]:
N = 15

for i in range(1, N+1):
    # For each row, print (N-i+1) cols
    for j in range(N-i+1):
        print('*', end='')
    print()

***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

###5. Diamond Pattern:

In [ ]:

n = int(input("Enter the number of rows: "))

for i in range(1, n + 1):
    print(" " * (n - i) + "*" * (2 * i - 1))

for i in range(n - 1, 0, -1):
    print(" " * (n - i) + "*" * (2 * i - 1))

Enter the number of rows: 6
     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

###6. Pyramid Pattern

In [ ]:

n = int(input("Enter the number of rows: "))

for i in range(1, n + 1):
    print(" " * (n - i) + "*" * (2 * i - 1))

Enter the number of rows: 7
      *
     ***
    *****
   *******
  *********
 ***********
*************

###7. Hollow Square Pattern

In [ ]:

n = int(input("Enter the size of square: "))

for i in range(n):
    for j in range(n):
        if i == 0 or i == n - 1 or j == 0 or j == n - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter the size of square: 6
* * * * * *
*         *
*         *
*         *
*         *
* * * * * *

##Built-in Data Structures in Python:

###1. Lists

A list is a versatile data structure that allows you to store a collection of items in a single variable. Lists can hold items of different types and are mutable, meaning their contents can be changed after creation. Here's a comprehensive guide to Python lists:



| List Operation  | Description                                                         | Example                                        | Output               |
|-----------------|---------------------------------------------------------------------|------------------------------------------------|-----------------------|
| **append()**    | Used to add an element to the end of the list.                      | `my_list = [1, 2, 3]`<br>`my_list.append(4)`    | `[1, 2, 3, 4]`       |
| **pop()**       | Used to remove and return the last element of the list.             | `my_list = [1, 2, 3]`<br>`last_element = my_list.pop()` | `last_element = 3`  |
| **len()**       | Used to get the length of the list.                                 | `my_list = [1, 2, 3]`<br>`length = len(my_list)`  | `length = 3`         |
| **sort()**      | Used to sort the list in ascending order.                            | `my_list = [3, 1, 2]`<br>`my_list.sort()`          | `[1, 2, 3]`          |

####Creating a list

In [ ]:
# Empty list
empty_list = []

# List of integers
int_list = [1, 2, 3, 4, 5]

# List of strings
str_list = ["apple", "banana", "cherry"]

# List of mixed data types
mixed_list = [1, "apple", 3.14, True]

####Properties of List:

1. Ordered :  Lists maintain the order of elements. The order in which elements are added to the list is preserved.

2. Mutable : Lists are mutable, meaning that their elements can be changed after the list has been created.

3. Dynamic Size : Lists can grow or shrink in size as elements are added or removed.

4. Allows Duplicate Elements : Lists can contain duplicate elements.

5. Indexed : Elements in a list are accessed by their index, starting from 0.

6. Allows Mixed Data Types : Lists can contain elements of different data types.

7. Supports Nesting : Lists can contain other lists (or other complex objects), allowing for nested data structures.

8. Supports Slicing : Lists support slicing, which allows you to extract a portion of the list.

9. Iterable : Lists are iterable, meaning you can loop through the elements using a for loop or other iteration methods.

10. Supports List Comprehensions : Lists support list comprehensions, which provide a concise way to create lists.

11. Variable Length : Lists can have any number of elements, from zero to many.

12. Supports Insertion and Deletion : You can insert or delete elements at specific positions in a list.

####Methods in Lists:

#####1. append(x) → Adds an element x at the end of the list.

In [ ]:
fruits = ["apple", "banana", "cherry"]

fruits.append("date")
print(fruits)  # Output: ["apple", "blueberry", "cherry", "date"]

['apple', 'banana', 'cherry', 'date']

#####2. insert(): Inserts an item at a specified position.

In [ ]:
fruits.insert(1, "banana")
print(fruits)  # Output: ["apple", "banana", "blueberry", "cherry", "date"]

['apple', 'banana', 'banana', 'banana', 'cherry', 'date']

#####3. remove(): Removes the first occurrence of an item.

In [ ]:
fruits.remove("banana")
print(fruits)  # Output: ["apple", "blueberry", "cherry", "date"]

['apple', 'banana', 'banana', 'cherry', 'date']

#####4. pop(): Removes and returns the item at a specified position (or the last item if no index is specified).

In [ ]:
fruit = fruits.pop(1)
print(fruit)  # Output: blueberry
print(fruits)  # Output: ["apple", "cherry", "date"]

banana
['apple', 'banana', 'cherry', 'date']

#####5. clear(): Removes all items from the list.

In [ ]:
fruits.clear()
print(fruits)  # Output: []

[]

#####6. sort(): Sorts the list in ascending order.

In [ ]:
numbers = [5, 2, 9, 1]
numbers.sort()
print(numbers)  # Output: [1, 2, 5, 9]

[1, 2, 5, 9]

#####7. reverse(): Reverses the order of the list.

In [ ]:
numbers.reverse()
print(numbers)  # Output: [9, 5, 2, 1]

[9, 5, 2, 1]

#####8. count(): Returns the number of occurrences of an item.

In [ ]:
fruit = ["apple", "banana", "cherry"]
count = fruit.count("apple")
print(count)

1

#####9. extend(): Extends the list by appending elements from another list.

In [ ]:
fruits.extend(["fig", "grape"])
print(fruits)  # Output: ["apple", "cherry", "date", "fig", "grape"]

['apple', 'banana', 'cherry', 'fig', 'grape']

###2. Strings

Strings are a sequence of characters used to store and manipulate text. Here are the key properties and operations associated with strings in Python:

**Creating a String**

* Strings can be created using single quotes, double quotes, or triple quotes (for multi-line strings):

In [ ]:
single_quote_str = 'Hello, World!'
double_quote_str = "Hello, World!"
triple_quote_str = '''Hello,
World!'''

#### Properties of Strings

* Immutable : Strings cannot be changed after they are created. Any operation that modifies a string will create a new string.

* Ordered : Strings maintain the order of characters. The order in which characters are added to the string is preserved.

* Indexed : Characters in a string can be accessed by their index, starting from 0.

* Iterable : Strings are iterable, meaning you can loop through each character in the string.

#### Strings Operations:

##### 1. Concatenation (+) : Used to join two or more strings together.

In [ ]:
s1 = "Hello"
s2 = "World"
result = s1 + " " + s2
print(result)   # Hello World

Hello World

##### 2. Repetition (*) : Repeats a string multiple times.

In [ ]:
word = "Hi! "
result = word * 3
print(result)   # Hi! Hi! Hi!

Hi! Hi! Hi!

##### 3. Membership (in, not in) : Checks if a substring exists inside another string.

In [ ]:
text = "Python Programming"
print("Python" in text)      # True
print("Java" not in text)    # True

True
True

##### 4. Iteration in a loop : Allows you to loop through each character in a string.

In [ ]:
name = "Alice"
for ch in name:
    print(ch, end=" ")   # A l i c e

A l i c e

#### Methods in Strings:

#####1. len() - Returns the length of the string.

In [ ]:
len("Hello")  # Output: 5

5

#####2. str.lower() - Converts all characters in the string to lowercase.

In [ ]:
"Hello".lower()  # Output: "hello"

'hello'

#####3. str.upper() - Converts all characters in the string to uppercase.

In [ ]:
"Hello".upper()  # Output: "HELLO"

'HELLO'

#####4. str.strip() - Removes leading and trailing whitespace.

In [ ]:
"Hello  ".strip()  # Output: "Hello"

'Hello'

#####5. str.replace() - Replaces a substring with another substring.

In [ ]:
"Hello, World!".replace("World", "Python")  # Output: "Hello, Python!"

'Hello, Python!'

#####6. str.split() -Splits the string into a list of substrings based on a delimiter.

In [ ]:
"Hello, World!".split(", ")  # Output: ["Hello", "World!"]

['Hello', 'World!']

##### Similarly, you can use the string functions described as follow:

##### 1. Case Conversion  
- **`upper()`** → Converts all characters to uppercase.  
- **`lower()`** → Converts all characters to lowercase.  
- **`title()`** → Capitalizes the first letter of each word.  
- **`capitalize()`** → Capitalizes the first character of the string.  
- **`swapcase()`** → Swaps uppercase to lowercase and vice versa.  

##### 2. Searching  
- **`find(sub)`** → Returns the index of the first occurrence of substring, or -1 if not found.  
- **`rfind(sub)`** → Returns the index of the last occurrence of substring.  
- **`index(sub)`** → Same as `find()`, but raises an error if substring not found.  
- **`count(sub)`** → Returns the number of times a substring occurs.  

##### 3. Validation / Checking  
- **`isalpha()`** → Checks if all characters are alphabets.  
- **`isdigit()`** → Checks if all characters are digits.  
- **`isalnum()`** → Checks if all characters are alphanumeric (letters + digits).  
- **`isspace()`** → Checks if string contains only whitespace.  
- **`isupper()`** → Checks if all characters are uppercase.  
- **`islower()`** → Checks if all characters are lowercase.  

##### 4. Modification / Trimming  
- **`strip()`** → Removes whitespace (or given characters) from both ends.  
- **`lstrip()`** → Removes whitespace from the left side.  
- **`rstrip()`** → Removes whitespace from the right side.  
- **`replace(old, new)`** → Replaces all occurrences of a substring with another.  

##### 5. Splitting & Joining  
- **`split(sep)`** → Splits string into a list using the given separator.  
- **`join(iterable)`** → Joins elements of an iterable into a single string.  

##### 6. Alignment & Padding  
- **`center(width, fillchar)`** → Centers string in a given width with optional fill character.  
- **`ljust(width, fillchar)`** → Left-aligns string within given width.  
- **`rjust(width, fillchar)`** → Right-aligns string within given width.  
- **`zfill(width)`** → Pads string on the left with zeros to reach specified width.  


##### 7. String Formatting  
- **`format()`** → Inserts values into placeholders `{}` in a string.  
- **f-strings** → (Python 3.6+) Embed variables/expressions directly inside a string using `{}`.

####Questions:

####Q1: Check if one string is a rotation of another

In [ ]:
s1 = "waterbottle"
s2 = "erbottlewat"

if len(s1) == len(s2) and s2 in (s1 + s1):
    print(True)
else:
    print(False)

True

####Q2: The first non-repeating character in a string

In [ ]:
s = "swiss"

for ch in s:
    if s.count(ch) == 1:
        print(ch)
        break
else:
    print(None)

w

####Q3: Find the longest substring in a given string that is a palindrome.

In [ ]:
s = "babad"
longest = ""

for i in range(len(s)):
    for j in range(i+1, len(s)+1):
        sub = s[i:j]
        if sub == sub[::-1] and len(sub) > len(longest):
            longest = sub

print(longest)   # "bab" or "aba"

bab

####Q4: Check if two strings are isomorphic

NOTE : Two strings are isomorphic if characters in one string can be replaced to get the other (mapping must be one-to-one).

In [ ]:
s1 = "egg"
s2 = "add"

if len(s1) != len(s2):
    print(False)
else:
    pattern1 = [s1.find(ch) for ch in s1]
    pattern2 = [s2.find(ch) for ch in s2]
    print(pattern1 == pattern2)

True

####Q5: Check if two strings are is subsequence of each other

NOTE: A string s1 is a subsequence of s2 if all characters of s1 appear in s2 in the same order, but not necessarily contiguous.

In [ ]:
s1 = "abc"
s2 = "ahbgdc"

i = 0  # pointer for s1
for ch in s2:
    if i < len(s1) and s1[i] == ch:
        i += 1

print(i == len(s1))   # True

True

###3. Tuples:

A tuple is an immutable, ordered collection of elements. Tuples are similar to lists, but unlike lists, tuples cannot be changed (they are immutable).

This makes them ideal for storing data that should not be modified, such as database records.

**Properties :**

* Ordered: Tuples maintain the order of elements, meaning the sequence in which elements are defined is preserved.

* Immutable: Once a tuple is created, its elements cannot be modified, added, or removed. This immutability ensures that the data remains constant.

* Allow Duplicates: Tuples can contain duplicate elements, meaning the same value can appear multiple times within the same tuple.

* Indexed: Elements in a tuple can be accessed using zero-based indexing, allowing for retrieval of specific elements by their position.

####Creation of Tuple:

Tuples are created by placing a comma-separated sequence of values inside parentheses:

In [ ]:
my_tuple = (1, 2, 3, 'a', 'b', 'c')

In [ ]:
my_tuple = 1, 2, 3, 'a', 'b', 'c'

In [ ]:
single_element_tuple = (1,)

####Methods in Tuples:

#####1. count(x): Returns the number of times the element x appears in the tuple.

In [ ]:
my_tuple = (1, 2, 3, 2, 2, 4)
print(my_tuple.count(2))  # Output: 3

3

#####2. index(x[, start[, end]]) :  Returns the index of the first occurrence of the element x in the tuple. The search can be limited to a specific subsequence by providing start and end indices.

In [ ]:
my_tuple = (1, 2, 3, 2, 2, 4)
print(my_tuple.index(3))  # Output: 2
print(my_tuple.index(2, 2))  # Output: 3

2
3

#####Similarly, the following kinds of functions can be used:

* cmp(tuple1, tuple2)

Compares elements of two different tuples.

* len(tuple)

Returns the length of the tuple.

* max(tuple)

Returns the element with the maximum value from the tuple.

* min(tuple)

Returns the element with the minimum value from the tuple.

* tuple(seq)

Returns a tuple by converting a sequence (like a list) to a tuple.

####Nested Tuples:

Nested tuples are tuples that contain other tuples as elements. This allows for the creation of complex, multi-dimensional data structures. Here’s an overview of nested tuples, including how to create, access, and work with them:

In [ ]:
nested_tuple = (1, (2, 3), (4, (5, 6), 7))

####Iterating through Nested Tuples

In [ ]:
for element in nested_tuple:
    if isinstance(element, tuple):
        for sub_element in element:
            print(sub_element)
    else:
        print(element)

1
2
3
4
(5, 6)
7

####Converting List to a Tuple

In [ ]:
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)
print(my_tuple)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

###4. Sets:

A set in Python is an unordered collection of unique elements. Sets are useful for storing and manipulating collections of distinct items, and they support mathematical operations like union, intersection, and difference.

####Creation of a set:

You can create a set using curly braces {} or the set() function.

In [ ]:
# Using curly braces
my_set = {1, 2, 3, 4}

# Using set() function
my_set = set([1, 2, 3, 4])

####Set Operations:

#####1. Adding and removing elements:

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)  # Adds 4 to the set
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [ ]:
my_set.remove(4)  # Removes 4 from the set

In [ ]:
my_set.discard(4)  # Safely removes 4 from the set, if it exists

In [ ]:
removed_element = my_set.pop()  # Removes and returns an arbitrary element

#####2. Union (| or .union()): Combines elements from two sets, removing duplicates.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

#####3. Intersection (& or .intersection()): Finds common elements between two sets.

In [ ]:
intersection_set = set1 & set2
print(intersection_set)  # Output: {3}

{3}

4. Difference (- or .difference()): Finds elements present in the first set but not in the second.

In [ ]:
difference_set = set1 - set2
print(difference_set)  # Output: {1, 2}

{1, 2}

#####5. Symmetric Difference (^ or .symmetric_difference()): Finds elements in either of the sets but not in both.

In [ ]:
sym_diff_set = set1 ^ set2
print(sym_diff_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

#####6. copy(): Returns a shallow copy of the set.

In [ ]:
new_set = my_set.copy()

###5. Dictionaries:

A dictionary in Python is an unordered collection of key-value pairs.

Each key is unique and is used to access the corresponding value.

Dictionaries are mutable, meaning you can change, add, or remove key-value pairs.

**Properties :**

* Unordered: Dictionaries do not maintain any order for their elements. However, from Python 3.7 onwards, dictionaries remember the insertion order of keys.

* Mutable: Dictionaries can be changed after creation. You can add, modify, or remove key-value pairs.

* Indexed by Keys: Values in a dictionary are accessed using keys, which are unique within the dictionary.

####Creation of Dictionary:

In [ ]:
# Using curly braces
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Using dict() function
my_dict = dict(name='Alice', age=25, city='New York')