<a href="https://colab.research.google.com/github/pranitha-jasp/My-Research/blob/master/Python_Refresher_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python Refresher-1**

**Agenda**
1. Introduction to Python
2. Data Types
3. Variables
4. Keywords
5. Inputs
6. Operators
7. Type Casting
8. Slicing
9. if-else
10. Types of Loops


## **Introduction to Python :**

Python is a high-level, interpreted programming language known for its simplicity and readability. It was created by Guido van Rossum and first released in 1991. Python's design philosophy emphasizes code readability and simplicity, making it an ideal choice for both beginners and experienced programmers. Here’s a detailed definition:

**Python Programming Language**
1. **High-Level Language:**

   Python is a high-level language, meaning it abstracts away most of the complex details of the computer’s hardware. This allows developers to focus on writing logic rather than managing memory and other lower-level tasks.

2. **Interpreted Language:**

  Unlike compiled languages (like C or C++), Python is interpreted. This means that Python code is executed line-by-line, which facilitates a rapid development cycle. However, it may also result in slower execution speeds compared to compiled languages.

##**Data Types :**

   A data type is a category that defines what kind of value a variable can store and how it can be used in a program. Data types determine the possible operations on the data and how it is stored in memory. Different programming languages have different data types, which describe the nature of the data a variable can hold.

###Types of Data Type

####1. Numeric:

**A. Integer (int)**

**Integers** are whole numbers without a fractional component.

Example: x = 5

In [ ]:
a = 10
type(a)

int

**B. Floating Point (float)**

Floating point numbers are real numbers with a fractional component.

Example: y = 3.14

In [ ]:
a = 10.5
type(a)

float

**C. Complex Number (complex)**

Complex numbers have a real part and an imaginary part, denoted as a + bj, where a is the real part and b is the imaginary part.

Example: z = 1 + 2j

In [ ]:
 z = 1 + 2j
 type(z)

complex

####2. Boot

**A. Boolean (bool)**

Booleans represent one of two values: True or False.

Example: is_valid = True

In [ ]:
is_valid = True
type(is_valid)

bool

####3. Sequence:

**A. String (str)**

Strings are sequences of characters, enclosed in single quotes ('...') or double quotes ("...").

Example: name = "Alice"

In [ ]:
name = "alice"
type(name)

str

**B. List (list)**

Lists are ordered, mutable sequences of elements that can be of different types.

Example: numbers = [1, 2, 3, 4, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5]
type(numbers)

list

**C.Tuple (tuple)**

Tuples are ordered, immutable sequences of elements that can be of different types.

Example: coordinates = (10.0, 20.0)

In [ ]:
coordinates = (10.0, 20.0)
type(coordinates)

tuple

####4. Set:

**A. Set (set)**

Definition: Sets are unordered collections of unique elements.

Example: unique_numbers = {1, 2, 3, 4, 5}

In [ ]:
unique_numbers = {1, 2, 3, 4, 5}
type(unique_numbers)

set

**B. Frozenset (frozenset)**

Frozensets are immutable sets, used for creating sets that cannot be modified after creation.

Example: immutable_set = frozenset([1, 2, 3])

In [ ]:
immutable_set = frozenset([1, 2, 3])
type(immutable_set)

frozenset

####5. Mapping

**A. Dictionary (dict)**

Dictionaries are unordered collections of key-value pairs, where keys are unique and can be of different types.

Example: person = {"name": "Alice", "age": 25}

In [ ]:
person = {"name": "Alice", "age": 25}
type(person)

dict

####6. Bytes

**B. Bytes (bytes)**
Bytes are immutable sequences of bytes, used for binary data.

Example: data = b'hello'

In [ ]:
 data = b'hello'
 type(data)

bytes

##**Variables :**

A variable is a named storage in memory that holds a value which can be changed during program execution.

Example of working flow of variables is as follow:

In [ ]:
# Variable assignment
age = 25          # 'age' is a variable storing an integer value
name = "Alice"    # 'name' is a variable storing a string value
height = 5.7      # 'height' is a variable storing a float value

# Using variables
print(name + " is " + str(age) + " years old and " + str(height) + " feet tall.")

Alice is 25 years old and 5.7 feet tall.

###Rules for Naming Variables:

* **Start with a letter or an underscore:** Variable names must begin with a letter (a-z, A-Z) or an underscore (_).
* **Follow with letters, digits, or underscores:** The rest of the name can include letters, digits (0-9), and underscores.
* **Case-sensitive:** Variable names are case-sensitive (e.g., Rahul and rahul are different variables).
* **No special characters:** Variable names cannot contain special characters (e.g., !, @, #, %).
* **Avoid keywords:** Variable names should not be the same as any Python keyword.

###Types of Variables:

There are two types of variables in Python: local and global.

**A. Local Variables:** Declared inside a function and can only be accessed within that function.

In [ ]:
def add():
    a = 20
    b = 30
    c = a + b
    print("The sum is:", c)

add()  # Output: The sum is: 50

The sum is: 50

**B. Global Variables:** Declared outside any function and can be accessed globally throughout the program.

In [ ]:
x = 101

def mainFunction():
    global x
    print(x)
    x = 'Welcome To Python'
    print(x)

mainFunction()  # Output: 101, Welcome To Python
print(x)  # Output: Welcome To Python

101
Welcome To Python
Welcome To Python

### Multiple Assignment

You can assign values to multiple variables in one statement.

In [ ]:
x = y = z = 50
print(x, y, z)  # Output: 50 50 50

a, b, c = 5, 10, 15
print(a, b, c)  # Output: 5 10 15

50 50 50
5 10 15

### Deleting Variables

You can delete a variable using the "del" keyword.

In [ ]:
# create a variable
x = 100
print("Before deleting:", x)

# delete the variable
del x

# now x is no longer defined
try:
    print(x)
except NameError:
    print("Variable 'x' has been deleted and no longer exists.")

Before deleting: 100
Variable 'x' has been deleted and no longer exists.

##**Keywords:**

Python keywords are special reserved words that have specific meanings and purposes and can’t be used for anything but those specific purposes. These keywords are always available—you’ll never have to import them into your code.

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

Python also provides a keyword module for working with Python keywords in a programmatic way. The keyword module in Python provides two helpful members for dealing with keywords:

kwlist provides a list of all the Python keywords for the version of Python you’re running. iskeyword() provides a handy way to determine if a string is also a keyword.

In [ ]:
import keyword
keyword.kwlist
['False', 'None', 'True', 'and', 'as', 'assert', 'async']
len(keyword.kwlist)

35

##**Inputs**

To take a simple input from the user, use the input() function.

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: bosscoder
Hello, bosscoder

###Converting input to other types:

In [ ]:
age = int(input("Enter your age: "))
print("You are", age, "years old")

Enter your age: 45
You are 45 years old

**NOTE:** Similarly, other data types can be worked upon.

##**Operators:**

Operators are special symbols or keywords that carry out arithmetic or logical computation. The value that the operator operates on is called the operand. Python supports various types of operators, which can be classified into several categories:

####1. Arithmetic operators:

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.

In [ ]:
a = 10
b = 3
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)
print("Floor Division:", a // b)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Modulus: 1
Exponentiation: 1000
Floor Division: 3

####2. Comparison Operators:

Comparison operators compare the values of two operands and return a Boolean value.

In [ ]:
print("Equal:", a == b)
print("Not equal:", a != b)
print("Greater than:", a > b)
print("Less than:", a < b)
print("Greater than or equal to:", a >= b)
print("Less than or equal to:", a <= b)

Equal: False
Not equal: True
Greater than: True
Less than: False
Greater than or equal to: True
Less than or equal to: False

####3. Assignment Operators

Assignment operators are used to assign values to variables.

In [ ]:
c = 5
c += 2
print("Add and assign:", c)
c -= 2
print("Subtract and assign:", c)
c *= 2
print("Multiply and assign:", c)
c /= 2
print("Divide and assign:", c)
c %= 2
print("Modulus and assign:", c)
c **= 2
print("Exponent and assign:", c)
c //= 2
print("Floor divide and assign:", c)

Add and assign: 7
Subtract and assign: 5
Multiply and assign: 10
Divide and assign: 5.0
Modulus and assign: 1.0
Exponent and assign: 1.0
Floor divide and assign: 0.0

####4. Logical Operators:

Logical operators are used to perform logical operations and return a Boolean result.

In [ ]:
x = True
y = False
print("Logical AND:", x and y)
print("Logical OR:", x or y)
print("Logical NOT:", not x)

Logical AND: False
Logical OR: True
Logical NOT: False

####5. Bitwise Operators:

Bitwise operators are used to perform bit-level operations on integer types.

In [ ]:
d = 2
e = 3
print("Bitwise AND:", d & e)
print("Bitwise OR:", d | e)
print("Bitwise XOR:", d ^ e)
print("Bitwise NOT:", ~d)
print("Bitwise left shift:", d << 1)
print("Bitwise right shift:", d >> 1)

Bitwise AND: 2
Bitwise OR: 3
Bitwise XOR: 1
Bitwise NOT: -3
Bitwise left shift: 4
Bitwise right shift: 1

####6. Membership Operator

Membership operators are used to test if a sequence is present in an object.

In [ ]:
my_list = [1, 2, 3, 4, 5]
print("Is 3 in list:", 3 in my_list)
print("Is 6 not in list:", 6 not in my_list)

Is 3 in list: True
Is 6 not in list: True

####7. Identity Operators

Identity operators are used to compare the memory locations of two objects.

In [ ]:
f = 5
g = 5
print("f is g:", f is g)
print("f is not g:", f is not g)

f is g: True
f is not g: False

## **Typecasting:**

Typecasting in Python, also known as type conversion, refers to converting one data type into another. Python provides several built-in functions to facilitate typecasting.

####Types of Typecasting:

1. Implicit Typecasting
2. Explicit Typecasting

**1. Implicit Typecasting:**

In [ ]:
x = 5    # Integer
y = 3.0  # Float

result = x + y  # x is implicitly converted to float
print(result)   # Output: 8.0
print(type(result))  # Output: <class 'float'>

8.0
<class 'float'>

**2. Explicit Typecasting:**

Explicit typecasting is performed when the programmer explicitly converts one data type to another using built-in functions. This is also known as type conversion.

**Common Typecasting Functions**

* int(): Converts a value to an integer.
* float(): Converts a value to a float.
* str(): Converts a value to a string.
* list(): Converts a value to a list.
* tuple(): Converts a value to a tuple.
* set(): Converts a value to a set.
* dict(): Converts a value to a dictionary (from a list of key-value pairs).
* bool(): Converts a value to a boolean.

**A. int():**

In [ ]:
# String to Integer
a = "10"
b = int(a)
print(b)  # Output: 10
print(type(b))  # Output: <class 'int'>

# Float to Integer
c = 10.5
d = int(c)
print(d)  # Output: 10
print(type(d))  # Output: <class 'int'>

10
<class 'int'>
10
<class 'int'>

**B. float():**

In [ ]:
# String to Float
e = "12.34"
f = float(e)
print(f)  # Output: 12.34
print(type(f))  # Output: <class 'float'>

# Integer to Float
g = 5
h = float(g)
print(h)  # Output: 5.0
print(type(h))  # Output: <class 'float'>

12.34
<class 'float'>
5.0
<class 'float'>

**C. str():**

In [ ]:
# Integer to String
i = 123
j = str(i)
print(j)  # Output: '123'
print(type(j))  # Output: <class 'str'>

# Float to String
k = 45.67
l = str(k)
print(l)  # Output: '45.67'
print(type(l))  # Output: <class 'str'>

123
<class 'str'>
45.67
<class 'str'>

##**Slicing:**

Slicing is a powerful feature in Python that allows you to extract specific parts of sequences such as strings, lists, or tuples by specifying a range of indices. The basic syntax for slicing is:

**Syntax:** object[start:stop:step]

![image.png]()

* start: The starting index of the slice. The element at this index is included in the slice.
* stop: The ending index of the slice. The element at this index is not included in the slice.
* step: The interval between elements in the slice. This parameter is optional and defaults to 1.

####Q1:
Given the string:

**s = "datastructures"**


**A.** Extract "data" using positive indices.

**B.** Extract "structures" using negative indices.

**C.** Extract "stru".

**D.** Extract "ts" by skipping characters (using step).

**E.** Extract the last 3 characters of the string.

**F.** Reverse the string.

**G.** What is the output of s[-20:] and why?

In [ ]:
s = "datastructures"

# 1. "data" → first 4 characters
print(s[0:4])        # "data"

# 2. "structures" → from -10 to end
print(s[-10:])       # "structures"

# 3. "stru" → indices 4 to 8
print(s[4:8])        # "stru"

# 4. "ts" → every 2nd character from index 2 to 6
print(s[2:6:2])      # "ts"

# 5. Last 3 characters
print(s[-3:])        # "res"

# 6. Reverse the string
print(s[::-1])       # "serutcurtsatad"

# 7. s[-20:] → safe slicing, returns whole string
print(s[-20:])       # "datastructures"

data
structures
stru
ts
res
serutcurtsatad
datastructures

##**Control Flow:**

###1. if-else:

The if-else statement in Python is a control statement used for decision making.

* The if block runs when the given condition is True.

* If the condition is False, the else block runs instead.

* It ensures that only one block executes depending on the condition.

* It is often combined with elif for checking multiple conditions.

**SYNTAX:**

if :

**IF BLOCK executes if the condition is true**

else:

**ELSE BLOCK executes if the condition is false**

**Example:**

In [ ]:
x = 60
if x < 50:
    print("x is less than 50")
else:
    print("x is 50 or more")

x is 50 or more

####Q1:

1. Take an integer as input from the user.
2. Calculate cube of the input.
3. If result > 50 print "Massive Number" else print "Small Number".
4. After this, print "EXECUTION COMPLETE!"

In [ ]:
n = int(input())

result = n * 3

if result > 50:
    print("Massive Number!")
else:
    print("Small Number!")

print("EXECUTION COMPLETE!")

58
Massive Number!
EXECUTION COMPLETE!

####Q2: Based on nested if else:

Write a Python program that asks the user to enter the current time in 24-hour format (as an integer).

* If the time is between 9 and 12 (inclusive of 10, 11, 12), print "Good Morning :)".

* If the time is between 13 and 17, print "Good Afternoon :)".

* If the time is between 18 and 20, print "Good Evening :)".

* For any other time, print "Good Night :)".

In [ ]:
time = int(input())

if time > 9 and time <= 12:
    print("Good Morning :)")
elif time > 12 and time <= 17:
    print("Good Afternoon :)")
elif time > 17 and time <= 20:
    print("Good Evening :)")
else:
    print("Good Night :)")

8
Good Night :)

###2. Loops:

Loops are tools that allow you to repeat a block of code multiple times. They are helpful when you need to perform the same action or set of actions many times, such as iterating over items in a list or repeating an operation until a certain condition is met.

####Types of Loops:

**A. For Loop:**

A for loop is a type of loop that is used to iterate over a sequence of values. In Python, a sequence can be any iterable object, such as a list, tuple, or string. The basic syntax for a for loop in Python is as follows:

for variable in iterable:
    # code block
    # (runs once for each element in iterable)
else:
    # optional block
    # (runs if loop completes normally, without 'break')

**Example**

In [ ]:
# Question:
# Print all prime numbers between 10 and 50
# Use for loop + nested for loop

for num in range(10, 51):          # check each number
    is_prime = True                # assume number is prime
    for i in range(2, int(num**0.5) + 1):   # check divisors up to sqrt(num)
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")

11 13 17 19 23 29 31 37 41 43 47

**B. while loop**

A while loop is another type of loop in Python. Unlike a for loop, which iterates over a sequence of values, a while loop repeatedly executes a block of code as long as a certain condition is true. The basic syntax for a while loop in Python is as follows:

while condition:
    # code block
    # (runs as long as condition is True)
else:
    # optional block
    # (runs only if loop ends normally, without 'break')

In [ ]:
# Question:
# Reverse the digits of a number using while loop
# e.g. Input: 12345 → Output: 54321

n = int(input("Enter a number: "))
rev = 0

while n > 0:
    digit = n % 10         # extract last digit
    rev = rev * 10 + digit # build reversed number
    n //= 10               # remove last digit

print("Reversed number:", rev)

Enter a number: 854
Reversed number: 458

####Q1: Write a Python program to find the factorial of a given number using a loop.

Using for loop:

In [ ]:
n = int(input("Enter a number: "))
fact = 1

for i in range(1, n+1):
    fact *= i

print("Factorial:", fact)

Enter a number: 5
Factorial: 120

Using while loop:

In [ ]:
n = int(input("Enter a number: "))
fact = 1
i = 1

while i <= n:
    fact *= i
    i += 1

print("Factorial:", fact)

Enter a number: 4
Factorial: 24

####Q2: Write a Python program to check whether a given string/number is a palindrome (reads the same forwards and backwards).

Using For loop

In [ ]:
text = input("Enter a string or number: ")
n = len(text)
is_palindrome = True

for i in range(n // 2):
    if text[i] != text[n - i - 1]:
        is_palindrome = False
        break

if is_palindrome:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter a string or number: asddsa
Palindrome

###break statement:

* The break statement is used to terminate the loop immediately.

* Control moves to the first statement after the loop.

* Useful when you want to stop looping once a condition is met

**Example:** Write a Python program that uses a for loop and a break statement to stop the loop when the counter reaches 5, and also prints a message after each iteration (except when the loop breaks). Finally, print a message outside the loop.

In [ ]:
for i in range(10):
    print(i)

    if i == 5:
        break

    print("After the if")

print("\nOutside the loop")

0
After the if
1
After the if
2
After the if
3
After the if
4
After the if
5

Outside the loop

###continue statement:

Skips an iteration. Works with both for loops and while loops.

**Example Question:**
* Write a program that continuously asks the user to provide an input number.
* Print the square of that input number.
* The program should stop if the user enters 5.
* In case user enters any multiple of 4, skip it.

In [ ]:
while True:
    x = int(input())

    if x == 5:
        break

    if x % 4 == 0:
        continue

    print(x ** 2)

6
36
7
49
5